<?xml version="1.0" encoding="utf-8"?>
<manifest package="id.pahlevikun.ilt3.sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ILT3">
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".retrofit.presentation.list.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.presentation.details.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".architecture.ArchitectureMainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".preference.PreferenceMainActivity"
            android:exported="false" />
        <activity
            android:name=".database.presentation.list.DatabaseMainActivity"
            android:exported="false" />
        <activity
            android:name=".database.presentation.details.DatabaseDetailsActivity"
            android:exported="false" />
    </application>

</manifest>